<mat-toolbar>
  @if (isMobile ()) {
    <button 
      mat-icon-button 
      class="example-icon" 
      aria-label="Example icon-button with menu icon" 
      (click)="triggerToggleMenu ()">
      <mat-icon>menu</mat-icon>
    </button>
  }
  <span class="title" routerLink="/">{{ title () }}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <a href="https://github.com/RaulGM3/Angular-Senior-Certificate.git">
      <mat-icon>favorite</mat-icon>
    </a>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>