
<h1 class="title">Signals</h1> 
<p>
  A signal is a wrapper around a value that notifies interested consumers when that value changes. Any primitive value.
</p>



<pre><code> import &#123; signal &#125; from '&#64;angular/core';

  mySignal = signal ('test');

  onUpdateSignal () &#123;
    <span class="comment">// to set new value</span>
    this.mySignal.set('new value');
    
    <span class="comment">// to update the value based on a previous value:</span>
    this.mySignal.update(value => value + ' updated');
  &#125;</code></pre>

<button mat-flat-button (click)="onUpdateSignal ()">Update Signal</button>
{{ mySignal () }}

<h3 class="sub-title">Computed</h3>
<p>Computed signal are read-only signals that derive their value from other signals.</p>

<pre><code> import &#123; computed &#125; from '&#64;angular/core';
  numberSignal = signal (0);
  doubleSignal = computed (() => this.numberSignal () * 2);</code>
</pre>

<button mat-flat-button (click)="onIncreaseSignal ()">Increase Signal</button>
<p>
  numberSignal: {{ numberSignal () }}
</p>
<p>
  doubleSignal: {{ doubleSignal () }}
</p>

<p>
  Computed signals are both lazily evaluated and memoized
</p>
<p>
  <code>doubleCount</code>'s derivation function does not run to calculate its value until the first time you read doubleCount. The calculated value is then cached, and if you read doubleCount again, it will return the cached value without recalculating.
</p>
<p><b>
  Computed signals are not writable signals.
</b></p>

<p>
  Another cool thing about Computed is that you can toggle dependencies. This means that if any of the dependencies isn't read, then the computed is not gonna be executed.
</p>

<pre><code> showCount = signal(false);
  count = signal(0);
  conditionalCount = computed(() => &#123;
    if (showCount()) &#123;
      return `The count is $&#123;count()&#125;.`;
    &#125; else &#123;
      return 'Nothing to see here!'; <span class="comment">// if showCount () is false, this computed will not be executed.</span>
    &#125;
  &#125;);</code>
</pre>

<p>
  Signals use referential equality. So when using objects or arrays, you need to create a new object or array to trigger the signal.
</p>

<pre><code> myArray = signal([]);
  
  onPushArray (x: number) &#123;
    this.myArray.update (arr => [...arr, x]);
  &#125; <span class="comment">// This will trigger all computed and effects.</span>
    </code>
</pre>

<h2 class="sub-title">
  <span class="code">
    Effect ()
  </span>
</h2>
<p>
  Usefull when you want to log a signal's changed value.
</p>
<p>
  Not recommended for state changes. Use <span class="code">computed</span> instead.
</p>

<pre>
  <code>constructor () &#123; <span class="comment">// Note that it's within the constructor or ngOnInit</span>
      effect(() => &#123;
        <span class="comment">// We will use the previous example's count() signal. Check the console for the effect's effect.</span>
        console.log(`The current count is: $&#123;count()&#125; and the title is: $&#123;untracked(title)&#125;`);
        <span class="comment">// You can use untracked if you want to use the value of a signal but not trigger the effect when changed.</span>
      &#125;);
    &#125;</code>
</pre>

<h2 class="sub-title">RxJS interop with Angular signals</h2>
<p>
  Let's work with RxJS observables and Angular signals.
</p>

<h3 class="sub-title">From RxJS to Angular signals</h3>
<pre><code> import &#123; toSignal &#125; from '&#64;angular/core/rxjs-interop';

  count = signal(0);
  obs = new Subject&lt;number&gt;();
  obsSignal = toSignal(this.obs, &#123; initialValue: 0 &#125;);

  constructor () &#123;
    effect(() => &#123;
      console.log('new obsSignal: ', this.obsSignal());
    &#125;);
    
    const counter = setInterval(() => &#123;
      this.count.update(() => this.count() + 1);
      this.obs.next(this.count());
      if (this.count() === 3) clearInterval(counter);
    &#125;, 1000);
  &#125;</code>
</pre>


<h2 class="sub-title"><span class="code">linkedSignal ()</span></h2>
<p>
  This is the way of managing state with <span class="code">signals</span> in Angular. You link a signal to an observable or to another signal in a service.
</p>
<p>Note that it is an independent signal from the observable, so you can use <span class="code">myLinkedSignal.set ('New Title')</span>, and it won't affect the linked dependency.</p>

<h4 class="sub-title">Let's play with the linkedSignal</h4>
<p>We used a linkedSignal as a state in the app. It's the toolbar's title.</p>
<p>
  The current value of this component's title is: <span class="code">{{ title () }}</span>. 
</p>
<p>
  Check the toolbar to see the current value of the observable.
</p>
<button mat-flat-button (click)="changeTitle ()">Change Title In Component</button> 
<button mat-raised-button (click)="changeTitleInService ()">Change Observable's Title</button>

<p>
  Notice that the linkedSignal won't execute if the observable's value is the same as the previous one. It is not an error, just click on Signals in the sidebar.
</p>

<pre><code> import &#123; signal, linkedSignal &#125; from '&#64;angular/core';
  
  export class SignalsComponent &#123;

    title = linkedSignal(inject (StateService).title);

    changeTitle () &#123;
      this.title.set('New Title');
    &#125;

    constructor (private stateServ: StateService) &#123;&#125;

    changeTitleInService () &#123;
      this.titleService.setTitle('Observable Changed Title');
    &#125;
  &#125;
</code></pre>

<h2 class="sub-title"><span class="code">model ()</span></h2>
<p>
  <span class="code">model ()</span> inputs are a special type of <span class="code" matTooltip="A component input">input</span> that enable a component to propagate new values back to another component.
</p>

<h4>Parent Component</h4>
<pre><code ngNonBindable> import &#123; signal &#125; from '&#64;angular/core';

  &#64;Component (&#123;
    selector: 'app-parent',
    template: `&lt;app-child [(childAge)]="parentAge"&gt;&lt;/app-child&gt;
    &#123;&#123; parentAge () &#125;&#125;`,
  &#125;)
  
  export class ParentComponent &#123;
  parentAge = signal(0);
&#125;
</code></pre>

<h4>Child Component</h4>
<pre><code ngNonBindable> import &#123; model &#125; from '&#64;angular/core';

  &#64;Component (&#123;
    selector: 'app-child',
    template: `  &lt;label&gt;Child Input&lt;/label&gt;
    &lt;input type=&quot;number&quot; [value]=&quot;childAge ()&quot; (keyup)=&quot;change ($event)&quot;&gt;
    &lt;p&gt;As you can see, it doesnt replicate entirely the [(ngModel)] on input as it has some delay replicating the signal on other components.&lt;/p&gt;`,
  &#125;)
  
  export class ParentComponent &#123;
  childAge = model (21);

  change (ev: Event) &#123;
    console.log (ev)
    this.childAge.set (parseInt ((ev.target as HTMLInputElement).value));
  &#125;
&#125;</code></pre>

<p>And just like that you have an [(ngModel)] that works with signals and with parent child components.</p>
  
<h3>Example</h3>
<p>Let's get our <span class="code">numberSignal ()</span> signal from before.</p>
<div class="parent-component smart">
  <p>
    Parent Component <span class="code">{{ numberSignal () }}</span>
  </p>
  <div class="child-component dumb">
    <app-model-child [(childAge)]="numberSignal"></app-model-child>
  </div>
</div>