

.container-with-serv {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.child-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
}

.data-cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  flex-wrap: nowrap;
}