<mat-drawer-container class="example-container">
  <mat-drawer [opened]="opened ()" #drawer class="example-sidenav" mode="side">
    <h1>Senior Certificate</h1>
    <mat-list>
      <mat-list-item>
        <a routerLink="/architecture" routerLinkActive="active" (click)="closeOpened ()">
          Architecture
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/advanced-components" routerLinkActive="active" (click)="closeOpened ()">
          Advanced Components
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/intermediate-components" routerLinkActive="active" (click)="closeOpened ()">
          Intermediate Components
        </a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-toolbar></app-toolbar>
    <div class="container">
      <router-outlet />
    </div>
  </div>

</mat-drawer-container>