<mat-drawer-container class="example-container">
  <mat-drawer [opened]="opened ()" #drawer class="example-sidenav" mode="side">
    <h1>Senior Certificate</h1>
    <mat-list>
      <mat-list-item routerLink="/architecture" routerLinkActive="active" (click)="closeOpened ()">
          Architecture
      </mat-list-item>
      <mat-list-item routerLink="/dependency-injection" routerLinkActive="active" (click)="closeOpened ()">
          Dependency Injection
      </mat-list-item>
      <mat-list-item routerLink="/advanced-components" routerLinkActive="active" (click)="closeOpened ()">
          Advanced Components
      </mat-list-item>
      <mat-list-item routerLink="/intermediate-components" routerLinkActive="active" (click)="closeOpened ()">
          Intermediate Components
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-toolbar></app-toolbar>
    <div class="container">
      <main>
        <router-outlet />
      </main>
      <div class="blanc-space"></div>
    </div>
  </div>

</mat-drawer-container>