mat-drawer-container {
  height: calc(100vh - 64px);
  max-width: 100vw;
  overflow-y: hidden;
}

mat-drawer {
  width: 300px;
  
  mat-list {
    mat-list-item {
      user-select: none;
      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      }
      cursor: pointer;
      &.active {
        background-color: #eaeaea;;
      }
      &:hover {
        background-color: #e1cccc8f;
        transform: scale(1.01);
      }
      &.active:focus {
        background-color: #eaeaea;
      }

      &::before {
        display: none;
      }
    }
  }
}

mat-drawer-content {
  max-height: calc(100vh - 64px);
  max-width: 100vw;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.example-container {
  box-shadow: rgba(187, 57, 57, 0.35) 0px 2px 25px;
}

.example-sidenav-content {
  // display: flex;
  height: 100%;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    background-color: #eaeaea;
    padding: 2rem;
    @media (max-width: 750px) {
      padding: 1rem;
    }
    
    main {
      padding: 0 2rem 2rem 2rem;
      width: 75%;
      background-color: #eaeaea;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      max-height: 100%;
      overflow-y: auto;
      // if is mobile
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .blanc-space {
      width: 100px;
      min-height: 300px;
    }
  }

}

.example-sidenav {
  padding: 20px;
}
