.parent-component {
  border: 2px solid rgb(35, 127, 37);
  background-color: rgba(45, 231, 48, 0.381);
}

.child-component {
  border: 2px solid rgb(66, 35, 127);
  background-color: rgba(121, 124, 218, 0.381);
}

.code {
  background-color: rgb(227, 230, 232);
  padding: .3rem;
  font-family: monospace;
}

.smart {
  border: 2px solid rgb(35, 127, 37);
  background-color: rgba(45, 231, 48, 0.381);
  border-radius: 15px;
  padding: 20px;
}

.dumb {
  border: 2px solid rgb(66, 35, 127);
  background-color: rgba(121, 124, 218, 0.381);
  border-radius: 15px;
  padding: 20px;
}
