<h1>Insights for Senior Angular Certification</h1>

<p>
  Welcome to the Senior Angular Certification course. This notes are designed to help me master Angular and become a certified expert. Let's get started!
</p>

<p>
  <i>
    Note: This is not intended to be something beautiful, but explanatory.
  </i>
</p>

<mat-list>
  <mat-list-item>
    <a routerLink="/architecture" routerLinkActive="active">
      Architecture
    </a>
  </mat-list-item>

  
  <mat-list-item>
    <a routerLink="/advanced-components">
      Advanced Components
    </a>
  </mat-list-item>
  
  <mat-list-item>
    <a routerLink="/intermediatecomponents">
      Intermediate Components
    </a>
  </mat-list-item>
  
  <mat-list-item>
    <a routerLink="/signals">
      Signals
    </a>
  </mat-list-item>
  
  <mat-list-item>
    <a routerLink="/dependency-injection">
      Dependency Injection
    </a>
  </mat-list-item>
  
  <mat-list-item>
    <a routerLink="/Advanced Javascript / TypeScript">
      Advanced Javascript / TypeScript
    </a>
  </mat-list-item>
  
  <mat-list-item>
    <a routerLink="/Intermediate TypeScript">
      Intermediate TypeScript
    </a>
  </mat-list-item>
  
  <mat-list-item>
    <a routerLink="/Performance">
      Performance
    </a>
  </mat-list-item>
  
  <mat-list-item>
    <a routerLink="/State Management">
      State Management
    </a>
  </mat-list-item>
  
  <mat-list-item>
    <a routerLink="/Advanced Directives">
      Advanced Directives
    </a>
  </mat-list-item>
  
  <mat-list-item>
    <a routerLink="/Advanced Routing">
      Advanced Routing
    </a>
  </mat-list-item>
  
  <mat-list-item>
    <a routerLink="/Intermediate Routing">
      Intermediate Routing
    </a>
  </mat-list-item>
  
  <mat-list-item>
    <a routerLink="/Advanced RxJs">
      Advanced RxJs
    </a>
  </mat-list-item>
  
  <mat-list-item>
    <a routerLink="/Pipes">
      Pipes
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="/Advanced Forms">
      Advanced Forms
    </a>
  </mat-list-item>
  
  <mat-list-item>
    <a routerLink="/Security">
      Security
    </a>
  </mat-list-item>
  
  <mat-list-item>
    <a routerLink="/Testing">
      Testing
    </a>
  </mat-list-item>
</mat-list>
